    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if ctx.session.user %}
                <li class="nav-item">
                    <a class="nav-link" href="/posts/new">Add Blog</a>
                </li>
                {% endif %}
            </ul>
           
            <div class="form-inline my-2 my-lg-0">
                {% if ctx.session.user %}
                <a class="nav-link text-success pl-0" href="/user/{{ctx.session.user._id}}">{{ctx.session.user.name}}</a>
                <a class="nav-link text-light" href="/signout">logout</a>
                {% else %}                
                <a class="nav-link text-muted" href="/signup">sign up</a>
                <a class="nav-link text-light" href="/signin">sign in</a>
                {% endif %}
            </div>
        </div>
    </nav>
